{% load static %}
<table class="cart shadow-lg">
    <thead>
    <tr>
        <th></th>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Цена со скидкой</th>
        <th>Итого</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img src=" {{ product.image.url }}">
                    
                </td>
                <td>{{ product.name }}</a></td>
                <td>
                
                {% if show_button %}   
                    <button  type="button" class="btn btn-light decrement" 
                    id="{{product.id }}">
                    {% csrf_token %}
                    -</button>
                {% endif %}     
                    <span class='quantity'>{{ item.quantity }}</span>
                {% if show_button %}    
                    <button type="button" class="btn btn-light increment" id="{{product.id }}">
                    {% csrf_token %}
                    +</button>
                {% endif %}         
                </td>
                <td>{{ product.price }} BYN</td>
                <td>{{ item.sell_price }} BYN</td>
                <td class ='total_price'>{{ item.total_price }} BYN</td>
                <td><a class="link-danger" href="{% url "cart_remove" product.id %}">Удалить
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </a></td>
            </tr>
        {% endwith %}
    {% endfor %}
    <tr class="total">
        <td>ИТОГО:</td>
        <td colspan="4"></td>
        <td class="num get_total_price">{{ cart.get_total_price }} BYN</td>
    </tr>
    </tbody>
</table>