{% extends "base.html" %}
{% load static %}

{% block title %}O нас {% endblock %}

{% block content %}
<div class='content'>
    <div>
    <h4>Наш офис</h4>
        <div class='map me-5'
            style="position:relative;overflow:hidden;">
            <a href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Минск</a>
            <a href="https://yandex.by/maps/157/minsk/house/Zk4YcwBkTE0AQFtpfXVzdX5gZA==/?ll=27.574115%2C53.924302&utm_medium=mapframe&utm_source=maps&z=17.31" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Кульман, 15 — Яндекс Карты</a>
            <iframe src="https://yandex.by/map-widget/v1/?ll=27.574115%2C53.924302&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg2NjY4MjA3MBI90JHQtdC70LDRgNGD0YHRjCwg0JzRltC90YHQuiwg0LLRg9C70ZbRhtCwINCa0YPQu9GM0LzQsNC9LCAxNSIKDcGY3EEVabJXQg%2C%2C&z=17.31" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div class='mb-5 mb-auto'> 
        <h5>Контакты</h5>
        <ul> 
            <li> +375-29-226-20-30; </li>
            <li> +375-29-356-20-30; </li>
            <li> +375-29-504-45-37; </li>
            <li> +375-44-594-59-10; </li>
            <li> +375-17-360-20-30; </li>
            <li> info@pero.by. </li>
            <li> pero.by@yandex.ru. </li>
            <li> Пункт самовывоза находится по адресу: г.Минск, ул.Кульман 15. Уточните необходимое количество товара. </li>
        </ul>
    </div>

    <h4 class='mt-10'>Доставка</h4>
        <h5>Способы и стоимость:</h5>
        <ol>
            <li>Доставка курьером (г.Минск):</br>
            - Сумма заказа до 10.00 бел.руб. - доставка не осуществляется;</br>
            - Сумма заказа от 10.00 бел.руб. до 60.00 бел.руб. - 5.00 бел.руб.;</br>
            - Сумма заказа от 60.00 бел.руб. - бесплатно.
            </li>
            <li> Самовывоз (г.Минск, ул.Кульман 15):</br>
            - Бесплатно. Предварительный заказ обязателен!
            </li>
        </ol>              
            <h5>Информация о доставке:</h5>
        <ol>
            <li>
            Для физических лиц:</br>
                - Доставка по г. Минску осуществляется на следующий будний день после подтверждения заказа с 09.00 - 18.00 или с 18.00 - 21.00;</br>
                - Для доставки самовывоз (CityPost) (при заказе по телефону) сообщите менеджеру - ФИО, адрес отделени;</br>
                - Для доставки самовывоз (Европочта) (при заказе по телефону) сообщите менеджеру - ФИО, адрес отделени;</br>
            </li>
            <li> Пункт самовывоза:</br>
                - Пункт самовывоза находится по адресу: г.Минск, ул.Кульман 15. Уточните необходимое количество товара.
            </li>
        </ol>   
        
    <h4>Основная информация:</h4>
        <h5>Реквизиты:</h5>
        <ul>
            <li> ООО "Перо"</li>
            <li> Свидетельство о государственной регистрации №192984767</li>
            <li> Мингорисполком от 18.10.2024 г.</li>
            <li> В торговом реестре с 05.02.2024 г.</li>
            <li> Способы оплаты: безналичный расчет, наличный расчет</li>

 
    </div>
{% endblock %}
