{% load static %}
<footer class="cont_footer">
    <div class="footer_cont1">
        <div class='footer_item'>
            <div>Телефон</div>
            <div>+375 (29) 508-02-50</div>
        </div>
        <div class='footer_item'>
            <div>Время работы</div>
            <div>ПН-ВС</br>
            c 9.00 до 23.00</div>
        </div>  
        <div class='footer_item'>
            <div>Email</div>
            <div><address>tamarakomar@gmail.com</address></div>
        </div>
        <div class='footer_item'>
            <div>Мы в соцсетях</div>
            <div class='soc_net'>
                <a href="#"><img src="{% static 'icon/icons8-facebook-48.png' %}" id='icon' alt="Facebook"></a>  
                <a href="#"><img src="{% static 'icon/icons8-instagram-48.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'icon/icons8-telegram-app-48.png' %}" alt="Telegram"></a>
                <a href="#"><img src="{% static 'icon/icons8-tiktok-48.png' %}" alt="TikTok"></a>  
            </div>    
        </div>
        <div class='footer_item'>
            <ul>О нас:
                <li>
                    <a href="#">Политика конфиденциальности</a>
                </li>
                <li>
                    <a href="#">Условия использования</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer_cont2">
        <div>  © MyCorp. 2024. All rights reserved.</div>
    </div>   
</footer>
