{% extends "base.html" %}
{% load static %}
    <title>{% block title %} Каталог товаров {% endblock title %}</title> 
    {% block content%}
    <div class="btn-group sticky-top mt-1 mb-1" role="group" aria-label="Basic example">
        {% for cat in categories %}
        <a class="btn btn-secondary" href="#{{cat.slug}}" role="button">{{cat.name}}</a>
        {% endfor %}
    </div>
    <div class="content">
        {% include "index/messages.html" %}
        {% for cat in categories %}
            <h4 class='mt-1 mb-1' id='{{cat.slug}}'> {{cat.name}} </h4>
            <div class="cont_prods">
                {% for prod in products %}
                {% if prod.category_id == cat.pk %}
                    {% if prod.discount > 0 %}
                        {% include "catalog/prod_sale.html" %}
                    {% else %}
                        {% include "catalog/prod_without_sale.html" %}
                    {% endif %}    
                {% endif %}    
                {% endfor %}
            </div> 
        {% endfor %}    
    </div>   
    <div class='sticky-bottom d-block mr-auto'> 
        <a class="btn btn-secondary btn-lg" href="#top" role="button">Вверх
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0"/>
              </svg>
        </a>
    </div>  
    {% endblock content %}      